numpy
pandas
matplotlib
scipy
scikit-learn
pillow
imageio
opencv-python
tqdm
requests
seaborn
torch
torchvision
torchaudio
albumentations
matplotlib-inline
pyyaml
imageio[ffmpeg]
imageio-ffmpeg